/* Google fonts -- Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope-font {
  font-family: "Manrope", sans-serif;
}

/* css in javascript */

.section-card {
  background-color: aquamarine;
  margin-bottom: 50px;
  border-radius: 50px;
  padding: 50px;
  border: 15px solid red;
}
